$color-base: #585858;
$color-primary: #c9bcb5;
$color-heading: #9f877a;
$color-secondary: #b5a399;
$color-light: #eadfd9;
$white: #fff;

$color-light: #eadfd9;

// font size
$fs-icon: 1.68rem;
$fs-icon-social: 2.75rem;
$fs-footer: 2.25rem;
$fs-footer-small: 1.5rem;
$fs-icon-contact: 2rem;
$fs-copyrights: 1.15rem;
$fs-about-copy: 1.25rem;
$fs-md-menu: 1.25rem;
$fs-btn-small: 1.5rem;
$fs-md-contact-top: 1.15rem;
$fs-medium: 2rem;
$fs-nav-list: 1.35rem;
$fs-baner-heading-small: clamp(4rem, #{"-5.4vw + 8rem"}, 4.5rem);
$fs-baner-heading: clamp(5rem, #{"6.9vw + 6.5rem"}, 8rem);
$fs-subbaner: clamp(6rem, #{"25.1vw - 14.9rem"}, 15rem);

// Overwrite variables
$font-family-heading: 'Great Vibes', cursive;

$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 90%,
    xl: 90%,
    xxl: 90%
) !default;

$theme-colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "light": $color-secondary,
    "white": $white,
    "dark": $color-base
);

:root {
// Base
--bs-body-font-family: 'Lato',
sans-serif;
--bs-body-font-size: 1.25rem;
--bs-body-color: $color-base;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.4;
--bs-white-rgb: $white;


// Navbar
--bs-navbar-padding-y: 0;
--bs-nav-link-font-size: 1.2rem;
--bs-navbar-color: $white;

}

$navbar-nav-link-padding-x: 2rem;
$link-color: $color-primary;
$link-decoration: none;
$link-hover-color: $color-secondary;

// heading
$headings-font-family: $font-family-heading;
$headings-color: $color-primary;
$h1-font-size: 4.5rem; 
$h2-font-size: 4.5rem;
$h3-font-size: 4.5rem;
$h4-font-size: 2.5rem;
$headings-line-height: 1.2;
$headings-margin-bottom: 0;

$input-font-size:  1.25rem;
$input-padding-y: .5rem;
$input-bg: transparent;
$input-border-width: 1px;
$input-border-color: $color-secondary; 
$input-border-radius: 4px;
$input-btn-padding-y-sm: 1rem;
$input-focus-color: $body-color;
$input-focus-bg: $white;
$input-focus-border-color: $color-secondary;
//$input-focus-box-shadow: none;
//$input-focus-color: ;
$input-focus-box-shadow: 0 0 0 1px rgba(181, 163, 153, .75);
$btn-focus-box-shadow: 0 0 0 1px rgba(181, 163, 153, .75);

$accordion-padding-y: 1.5rem;
$accordion-border-color: $color-light;
$accordion-body-padding-y: 2rem;
$accordion-body-padding-x: 1.5rem;
$accordion-button-bg: $white;
$accordion-button-active-bg: $color-primary;
$accordion-button-active-color: $white;
