.baner {
    @include background-image('bg-baner');
    @include background-properties;
    background-position: bottom;

    @include media-breakpoint-up(md) {
        margin-bottom: 4rem;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 2.5rem;
    }


    &__heading {
        display: block;
        font-family: $font-family-heading;
        text-align: center;
        // text-shadow: 1px 1px 1px $color-base;
        line-height: 1;
        // color: $white;
        color: #7a5d5d;
        margin-bottom: 1.5rem;

        @include media-breakpoint-down(md) {
            font-size: $fs-baner-mobile;
            padding-top: 2.25rem;
        }
    }

    &__body {
        display: flex;
        align-items: center;
    }

    &__copy {
        text-align: justify;
        text-align-last: left;

        @include media-breakpoint-up(xxl) {
            padding-inline: 4rem;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 1.5rem;
        }
    }

}