.footer {
    background-color: $color-primary;
    color: $white;

    &__figure {
        img {
            @include media-breakpoint-down(lg) {
                margin: 0 auto;
            }
        }
    }

    &__aside {
        display: flex;
        align-items: center;
        padding-block: 2.5rem;

        @include media-breakpoint-down(lg) {
            text-align: center;
        }
    }

    &__list {
        @include media-breakpoint-down(lg) {
           padding: 1.5rem 0;
        }
        a {
            padding-left: 4px;
        }
    }

    &__copy {
        text-align: left;
        text-align-last: left;
        text-transform: uppercase;

        @include media-breakpoint-down(lg) {
            text-align: center;
            text-align-last: center; 
        }

    }

    &__copyrights {
        padding-bottom: .75rem;
    }

    &__actions {

        @include media-breakpoint-down(lg) {
            margin-top: 2.5rem;
        }

        @include media-breakpoint-between(lg, xl)  {
            display: flex;
            justify-content: flex-end;
        }
    }
}