.icon {
    transition: color .35s ease-in;

    &--contact {
        font-size: 1.25rem;
        margin-right: .4rem;
    }

    &--social {
        color: $white;
        font-size: 1.75rem;
        &:hover {
            color: $color-base;
        }
    }
}