.icon {
    transition: color .15s ease-in;

    &--contact {
        font-size: 1.5rem;
        margin-right: .4rem;
    }

    &--social {
        color: $white;

        @include media-breakpoint-up(md) {
            font-size: 1.75rem;
        }

        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }

        &:hover {
            color: $color-base;
        }
    }
}