.list {
    display: flex;

    &__break {
        margin-left: 4px;
    }

    &--header {
        align-items: center;
        justify-content: flex-end;
        gap: 1.5rem;
        font-size: .95rem;

        li {
            display: flex;
            align-items: center;
        }
    }

    &--contact,
    &--footer {
        flex-direction: column;
    }

    &--contact {
        li {
            margin-top: .5rem;
        }
    }

    &--primary {
        i {
            color: $color-heading;
        }
    }

    &--footer {
        li {
            @include media-breakpoint-down(md) {
                margin-top: .25rem;
            }
        }
    }

    &--social {

        @include media-breakpoint-up(md) {
            gap: 1rem;
            margin-top: 1rem;
        }

        @include media-breakpoint-down(md) {
            justify-content: center;
            margin-top: 1.5rem;
            gap: 1.5rem;
        }
    }
}