.subbaner {
    @include background-image('subbaner');
    @include background-properties;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    height: 40vw;
    font-size: $fs-subbaner;

    @include media-breakpoint-up(md) {
        margin-bottom: 4rem;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 2.5rem;
    }
}