<app-subbaner>About</app-subbaner>

<section class="section about-us">
    <div class="container">
        <div class="row about-us__body">
            <h1 class="section__heading">Lorem ipsum dolor sit amet</h1>
            <div class="col-xl-8 about-us__copy">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem iste saepe quos quasi! Repellendus molestias vel, qui tempora labore, iure? Pariatur eveniet delectus ea, veritatis dicta nam provident veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem iste saepe quos quasi! Repellendus molestias vel, qui tempora labore, iure? Pariatur eveniet delectus ea, veritatis dicta nam provident veniam. Et!
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem iste saepe quos quasi! Repellendus molestias vel, qui tempora labore, iure? Pariatur eveniet delectus ea, veritatis dicta nam provident veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem iste saepe quos quasi! Repellendus molestias vel, qui tempora labore, iure? Pariatur eveniet delectus ea, veritatis dicta nam provident veniam. Et!
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore dolor repellat iure fuga eligendi assumenda nemo natus quam error repellendus, ea culpa vitae mollitia sint eaque neque ut aspernatur quo!</p>
            </div>
            <div class="col-xl-4">
                <app-card></app-card>
            </div>
        </div>
    </div>
</section>

<app-company>
    <app-section-images ngProjectAs="image" [image]="'assets/images/company-3.png'" alt="lorem" class="ps-0"></app-section-images>    
    <ng-container ngProjectAs="aside" class="company__copy--right">
        <h2 class="section__heading">Lorem ipsum dolor sit amet consectetur </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatum animi officiis consequuntur, pariatur, perspiciatis molestiae vitae placeat, reiciendis fugiat debitis dolorem odio optio soluta delectus quo ex minima esse. Quia, nemo laborum. Autem maiores provident veritatis nemo omnis quis ut, ad veniam modi beatae expedita, eos doloremque voluptatem repellendus! Nulla tempora at delectus labore eius ex officia? Temporibus, molestias.</p>
    </ng-container>
</app-company>

<app-gallery-bottom></app-gallery-bottom>