.about {
    --bs-gutter-x: 2rem;

    @include media-breakpoint-up(lg) {
        --bs-gutter-x: 5rem;
    }

    &__icon {
        display: flex;
        justify-content: center;

        @include media-breakpoint-down(md) {
            padding-block: 2rem;
        }

        @include media-breakpoint-down(md) {
            padding-block: 1.5rem;
        }
    }

    &__copy {

        @include media-breakpoint-down(lg) {
            text-align: center;
            text-align-last: center;
        }
    }
}