<app-subbaner>Offer</app-subbaner>

<section class="section ">
    <div class="container">
        <div class="row">
            <div class="col-12 section__body">
                <h1 class="section__heading">Lorem ipsum, dolor sit amet consectetur adipisicing elit</h1>
                <p class="section__copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto quibusdam quas architecto quidem laboriosam veritatis laborum dignissimos maxime necessitatibus voluptatum, quam reiciendis veniam, ex doloribus amet dicta in natus.</p>
            </div>
        </div>
    </div>
</section>

<section class="offer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-accordion></app-accordion>
            </div>
        </div>
    </div>
</section>

<app-gallery-bottom></app-gallery-bottom>